body{
    background-color: black;
    margin: 0;
    padding: 0;
}
a:visited{
    color: inherit;
    text-decoration:none;
}
.container{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 150px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 30px;
    left: 600px;
    top: 300px;
}
